@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  color-scheme: dark;
}

body {
  background: #050505;
  color: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
